/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

* {
    margin: 0;
    padding: 0;
}

.container{
height: 100%;
align-content: center;
}

.card{
margin-top: auto;
margin-bottom: auto;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.card-body h5{
color: rgb(204, 190, 190);
}

.input-group-prepend span{
width: 3vw;
background-color: #d15727;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}