body {
    background-color: rgb(41, 37, 37);
}

.login {
    margin-top: 16%;
    text-align: left;
}

.login .login-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#form-field {
    margin-left: 41%;
    margin-bottom: 10px;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    color: white;
}

#form-input {
    border-radius: 5px;
}

#login-button {
    margin-left: 45.7%;
    width: 90px;
    height: 30px;
    border-radius: 60px;
    color: white;
    background-color: rgb(56, 33, 97);
}

#login-button:hover {
    color: rgb(56, 33, 97);
    background-color: white;
}

#register-button {
    margin-left: 46.5%;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    color: white;
    background-color: rgb(170, 19, 19);
}

#register-button:hover {
    color: black;
    background-color: rgb(118, 204, 146);
}

.login .register #modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}

.login .register #modal .form-modal{
    background-color: rgba(68, 7, 117, 0.966);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -27%;
    margin-left: 32%;
    padding: 30px;
}

.register-form {
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    margin-top: 10%;
}

#form-field-modal {
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

#modal .form-modal #close-button {
    float: right;
    border-radius: 30px;
    width: 30px;
    background-color: rgb(240, 236, 236);
    color: black;
}

#modal .form-modal #close-button:hover {
    background-color: black;
    color: rgb(240, 236, 236);
}

#register-button-modal {
    margin-left: 39.6%;
    width: 90px;
    height: 30px;
    border-radius: 40px;
    margin-top: 20px;
    color: black;
    background-color: rgb(240, 236, 236);
}

#register-button-modal:hover {
    color: white;
    background-color: rgba(68, 7, 117, 0.966);
}

